<head>
    <title>Dreamstore</title>
    <meta charset="UTF-8">
    <link rel="icon" href="views/resources/img/logo.png">
    <link rel="stylesheet" type="text/css" href="views/resources/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="views/resources/css/products.css"/>
    <link rel="stylesheet" type="text/css" href="views/resources/css/productDetail.css"/>
    <link rel="stylesheet" type="text/css" href="views/resources/css/form.css"/>
    <!--FUENTES DE GOOGLE-->
    <link href='https://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Saira Semi Condensed' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
    <!--***************-->
    <!--JS SCRIPTS -->
    <script type="text/javascript" src="views/resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="views/resources/js/productsFunctions.js"></script>
    <script type="text/javascript" src="views/resources/js/menuJS.js"></script>

</head>